body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.card {
    background: white;
    padding: 35px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

h1 {
    color: #ff4d6d;
}

h2 {
    margin-bottom: 30px;
}


button {
    padding: 12px 35px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

#yes {
    background: #ff4d6d;
    color: white;
}

#no {
    background: gray;
    color: white;
    position: absolute;
    transition: all 0.2s ease;
}

/* floating hearts */
.heart {
    position: absolute;
    font-size: 22px;
    animation: float 5s linear forwards;
#no {
     position: fixed;
}